/* src/styles/custom.css */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");

/* Dark mode colors. */
:root {
  --sl-color-accent-low: hsl(213, 92%, 15%);
  --sl-color-accent: #3b3cd0;
  --sl-color-accent-high: #afc0ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}

/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #afc0ff;
  --sl-color-accent: #6060d6;
  --sl-color-accent-high: rgb(0, 31, 65);
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

/* Additional */
:root {
  --h3-devider-color: #5353ad;
  --sl-color-text-strong: var(--sl-color-gray-1);
}

/* Additional Light Mode */
[data-theme="light"] {
  --h3-devider-color: #6060d6;
  --sl-color-text-strong: var(--sl-color-text);
}

h3::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 100%;
  border-bottom: 5px solid var(--h3-devider-color);
}

.site-title {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 600;
  column-gap: 10px;
  color: var(--sl-color-white);
}

:root[data-theme="light"] .site-title {
  color: var(--sl-color-accent);
}
