:root {
  --purple-hsl: 240, 61%, 52%;
  --overlay-blurple: hsla(var(--purple-hsl), 0.2);
}

:root[data-theme="light"] {
  --purple-hsl: 255, 0%, 65%;
}

.page {
  background:
    linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
      105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
      calc(100% + 20rem) / 60rem 30rem;
  background-size: cover;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page .card {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

:root[data-theme="light"] .card {
  background-color: rgba(255, 255, 255, 0.5);
}

.page header,
:root[data-theme="light"] .page header {
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.page .sidebar-pane,
:root[data-theme="light"] .page .sidebar-pane {
  background-color: transparent;
  border-inline-end: 1px solid var(--sl-color-gray-6);
}

.page strong {
  color: var(--sl-color-text-strong);
}

.page code[dir="auto"] {
  color: var(--sl-color-text-strong);
}

.page .sidebar-pane span.sl-badge.default {
  background-color: transparent;
  border-color: var(--sl-color-gray-6);
  color: var(--sl-color-gray-4);
}

:root[data-theme="light"] .page .sidebar-pane span.sl-badge.default {
  background-color: var(--sl-color-gray-6);
  border-color: var(--sl-color-gray-4);
  color: var(--sl-color-gray-4);
}
